body{
    width: 100%;
    font-family: 'Playfair Display', serif;
    overflow-x: hidden;
    height: auto;
    padding: 0px;
    margin: 0px;
}
@media only screen and (max-width: 500px ){
  body{
    overflow-x: hidden;

  }
 }
main{
  max-width: 1700px;
}

header{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    flex: 0 1 40vw;
    height: 7vh;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.4s 1s ease-out forwards;
    width: 100%;
}
 header p{
  display: block;
  position: relative;
  font-family: 'Bellota Text', cursive;
  font-size: 25px;
  margin-top: 500px;
}
@media (max-width: 500px ){
  header p{
   margin-left: 30%;
   margin-top: 15px;
  }
 }
header a {
  display: inline-block;
    color: #677179;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 20px;
    margin-left: 345px;
    text-decoration: none;
}
@media (max-width: 1400px ){
  header a {
    margin-left: 250px;
  }
}
@media (max-width: 900px ){
  header a {
    margin-left: 15%;
  }
}
@media (max-width: 500px){
  header a {
    display: none;
  }
     
}
#blockpage{
    margin: 0 auto;
}
.backround{
    width: 100%;
    height: 900px;
    position: relative;
}
@media (max-width: 500px){
  .backround {
    width: 100%;
    height: 400px;
  }
}
h1{
    margin-top: -750px;
    z-index: 1;
    position: relative;
    margin-left: 500px;
    font-size: 100px;
    font-weight: normal;
    padding: 0%;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.8s 0.2s ease-out forwards;
}
@media (max-width: 1400px){
  h1{
    margin-left: 300px;
    
  }
}
@media (max-width: 900px ){
  h1 {
    margin-left: 15%;
  }
}
@media (max-width: 500px){
  h1{
    margin-top: -300px;
    margin-left: 50px;
    font-size: 50px;
  }
}

h2{
    z-index: 1;
    position: absolute;
    margin-top: -20px;
    margin-left: 500px;
    padding-top: 100px;
    font-size: 50px;
    font-weight: normal;
    padding: 0%;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.8s 0.6s ease-out forwards;

}
@media (max-width: 1400px){
  h2{
    margin-left: 300px;
    
  }
}
@media (max-width: 900px ){
  h2 {
    margin-left: 15%;
  }
}
@media (max-width: 500px){
  h2{
    margin-left: 50px;
    font-size: 20px;
  }
}

.tel{
    position: relative;
    margin-top: -400px;
    margin-left: 550px;
    height: 500px;
    opacity: 0;
    transform: translateX(30px);
    animation: apparition 0.8s 0.4s ease-out forwards;
}
@media (max-width: 1400px){
  .tel{
    margin-left: 400px;
    
  }
}
@media (max-width: 900px ){
  .tel {
    margin-left: 20%;
  }
}
@media (max-width: 500px){
  .tel{
    margin-left: 100px;
    height: 200px;
  }
}
@keyframes apparition{
    100%{
        opacity: 1;
        transform: none;
    }
}
.s{
    font-family: 'Montserrat', sans-serif;
    color: #677179;
    font-size: 50px;
    margin-top: 350px;
    margin-bottom: 0px;
    margin-left: 40%;
    padding-top: 10px;
}
@media (max-width: 1400px){
  .s{
    display: block ;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media (max-width: 900px ){
  .s {
    margin-left: 1%;
  }
}
@media (max-width: 500px){
  .s{
    margin-top: 120px;
    margin-left: 2%;
    font-size: 30px;
  }
}
.titre1{
  margin-left: 20px ;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: 700;
  margin-left: 5%;
  
}
@media  (max-width: 1600px){
  .titre1{
    margin-left: 4%;
  }
}
@media (max-width: 500px){
  .titre1{
    font-size: 1.5em;
  }
}
.text1{
  font-family: 'Montserrat', sans-serif;
  margin-left: 7%;
  margin-top: 7%;
  font-size: 1.3em;

}
@media  (max-width: 1600px) {
  .text1{
    margin-left: 4%;
  }
}
@media (max-width: 500px){
  .text1{
    font-size:1em ;
  }
}
.un{
  width: 17%;
  margin-top: -23%;
  margin-right:  13%;
  border-radius: 5%;

}
@media  (max-width: 1600px){
 .un{ 
  margin-right: 7%;
  margin-top:-25% ;
 }
}
@media (max-width: 500px){
  .un{
    position: relative;
    margin-top: 0;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
  }
}
.titre2{
  margin-left: 20px ;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: 700;
  margin-left: 5%;
  margin-top: 13%;

}
@media  (max-width: 1600px){
  .titre2{
    margin-left: 4%;
  }
}
@media (max-width: 500px){
  .titre2{
    margin-top: 100%;
    font-size: 1.5em;
  }
}
.deux{
  width: 17%;
  margin-left: 7%;
  border-radius: 5%;
  margin-top: 5%;

}@media  (max-width: 1600px){
  .deux{
    margin-left: 4%;
    margin-top: 7%;
  }
}
@media (max-width: 500px){
  .deux{
    width: 50%;
    margin-left: 100px;
  }
}
.text2{
  margin-right: 9%;
  font-family: 'Montserrat', sans-serif;
  margin-left: 7%;
  margin-top: 7%;
  font-size: 1.3em;

}
@media  (max-width: 1600px){
  .text2{
    font-size: 1.2em;
    margin-right: 2%;
  }
}
@media (max-width: 500px){
  .text2{
    font-size: 1em;
  }
}
footer{
 background-color: #D7D7D7;
 font-family: 'Montserrat', sans-serif;
 margin-top: 100px;

}
@media  (max-width: 500px){
  footer{
    margin-top: 650px;
  }
}
.content-footer{
  display: flex;
  align-items: flex-start;
  font-size: 20px;
  padding: 50px 0 100px;
  margin: 0 30px;
}
@media (max-width: 500px){
  .content-footer{
    display: grid;
    font-size: 15px;
    margin: 0;
  }
  }
.li{
  position: relative;
  right: 25px;
  list-style-type: none;
}
.lis{
  position: relative;
  right: 10px;
  list-style-type: none;
}
.lis a{
  vertical-align: baseline;
}
.lis img{
  width: 25px;
  vertical-align: baseline;
}
@media  (max-width: 500px){
  .lis{
    right: 27px;
  }
}

footer a{
  color: #333;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  right: 17px;
}
@media  (max-width: 500px){
  footer a{
    font-size: 15px;
    align-items: baseline;
  }
}
footer a:hover{
  color: black;
  font-weight: 700;
}
footer p{
  position: relative;
  right: 39px;
}
.srv{
padding-left: 100px;
margin-left: 250px;
}
@media  (max-width: 1600px){
  .srv{
    margin-left: 0px;
  }
}
@media  (max-width: 500px){
  .srv{
    padding-left: 25%;
  }
}
.cont{
  padding-left: 100px;
}
@media  (max-width: 500px){
  .cont{
    padding-left: 25%;
  }
}
.rsx{
  padding-left: 100px;
}
@media  (max-width: 500px){
  .rsx{
    padding-left: 25%;
  }
}
